<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>321878982545-3glepsoj074smv1298hme612vgu5hreb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.321878982545-3glepsoj074smv1298hme612vgu5hreb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>321878982545-brfpjrj7ci93f1mli1igr4523k8kppfe.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA-lQBnVALRfU30GmbxQ8no3xeE_5aG28s</string>
	<key>GCM_SENDER_ID</key>
	<string>321878982545</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.navarrete</string>
	<key>PROJECT_ID</key>
	<string>navarrete-e03c8</string>
	<key>STORAGE_BUCKET</key>
	<string>navarrete-e03c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:321878982545:ios:dff6c95f006726d6fd6430</string>
</dict>
</plist>